# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/

# ChromaDB (Vector Store)
chroma_db/
medicine_docs/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
